/* font */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* nav bar design  */
.container{
    max-width: 1100px;
    margin: auto;
}
.nave-bar{
    display: grid;
    grid-template-columns: repeat(2,50%);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 140px;
}
.logo{
    width: 100%;
}
.logo h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.menu{
    width: 100%;
}
.all-menu{
    display: flex;
    justify-content:flex-end ;
}
.all-menu li{
    list-style: none;
    margin-left: 40px;

}
.all-menu li a{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    color: #424242;
}
/* banner design  */
.banner-info{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.banner-title{
    font-weight: 700;
    font-size: 55px;
    line-height: 75px;
    text-align: center;
    color: #131313;
}
.banner-details{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}
.primary-btn{
    background-color: #FF900E;
    padding: 21px 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    transition: 0.5s;
   
}
.primary-btn:hover {
    background-color: #424242;
    color: white;
}
.banner-img{
    margin: 80px 0px;
}
.banner-img img{
    width: 100%;
}
/*-------------------
team section design 
------------------- */
.team-contain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0px;
}
.team-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.groups-img{
    width: 100%;
}
.img{
    width: 240px;
}
.primary-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #727272;    
}
.primary-title .of-our{
    color: #131313 ;
}
.primary-title .feature{
    color: #FF900E ;
}
.primary-details{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 30px 0px ;
}
/* architect section design  */
.architect-section{
    padding: 60px 0px ;
}
.architect-contant{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.btn {
    width: 100%;
    margin-left: 600px;
    margin-top: -100px;
}
.architect-image{
    width: 100%;
}
.architect-image img{
    width: 100%;
}
.details-box-first-title{
    color: #131313;
    border-left: 4px solid #FF900E ;
    padding-left: 20px;
    margin-bottom: 20px;
}
.details-boxs{
    margin: 34px 0px;
    padding-left: 30px;
}
.details-box-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}
.details-box-descriptipon{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
/* company facts results section design  */
.facts-boxs{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
}
.box-with-content{
    box-sizing: border-box;
    text-align: center;
    padding: 50px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: all 0.5s;
}
.box-with-content:hover {
    transform: rotate(90deg);
}
/* sponser section design  */
.sponser-title-and-details{
    text-align: center;
    margin: 40px 0px;
}
.sponser-icons-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-bottom: 100px;
    mix-blend-mode: luminosity;
}
.sponsers img{
    filter: grayscale(10); 
}
.sec-title{
    color: #131313;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
}
/* extra section design  */
.happy-clients-title-and-dec{
    text-align: center;
}
.clients-text{
    color: #FF900E;
}
.happy-clients-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0px;
}
.clients-review-boxs{
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}
.client-img{
    width: 70%;
    border-radius: 50%;
    border: 5px solid #FF900E;
    transition: all 0.5s;
}
.clients-review-boxs:hover > .client-img {
    border: 5px solid #424242;
    opacity: 0.5;
    transform: rotate(360deg);
}
.client-name{
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    color:#131313;
    margin: 20px 0px;
}
.review{
    font-size: 16px ;
    font-weight: 400;
    line-height: 25px;
    color: #424242;
}
.clients-review-boxs i{
    color: #FF900E;
    font-size: 18px;
    margin: 15px 0px;
}
/* footer design  */
.footer-section{
    text-align: center;
    margin-bottom: 150px;
    margin-top: 100px;
}
@media screen and (max-width: 576px) {
    .container{
        max-width: 100%;
        margin: 0px 20px;
    }
    .team-contain, 
    .team-group, 
    .architect-contant, 
    .facts-boxs,
    .sponser-icons-box,
    .happy-clients-box, 
    .nave-bar{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-boxs {
        justify-content: space-between;
        align-items: center;
        align-content: center;
        justify-items: center;
    }
    .groups-img {
        width: 100%;
    }
    .img{
        width: 100% ;
    }
    .btn{
        margin-top: 20px;
        margin-left: 0px;
        text-align: center;
    }
    .details-boxs {
        padding: 0px 30px;
    }
    .box-with-content {
        width: 100%;
    }
    .facts-titl-and-descriptions {
        text-align: center;
    }
    h1.primary-title.sec-title {
        font-size: 25px;
    }
    p.details-box-descriptipon {
        font-size: 16px;
    }
    .all-menu{
        display: inline;
    }
    .logo h1{
        text-align: center;
        font-size: 40px;
    }
    .all-menu li{
        text-align: center;
        margin-left: 0px;

    }
    h1.banner-title {
        font-size: 45px;
    }
}